<form id="code_execute" method="POST">
  <div class="form-group">
    <textarea id="json_code" name="code[src]" cols="80" rows="25" placeholder="コードを入力してください"></textarea>
  </div>
  <input type="submit" class="btn btn-info"/>
</form>

<div id="output_area">
  <textarea id="output_code" cols="80" rows="5" placeholder="出力結果" readonly></textarea>
</div>
