<div id="top_page" >
  <div id="t_top">
    <div id="mission-title">* Our Mission *</div>
    <p>Our Mission is creating the borderless world through online programing education</p>
  </div>

  <div id="t_middle">
    <div id="about-title">About</div>
    <p>We are a research group at AIIT, Advanced Institute of Industrial Technology, in Tokyo.
        We are studying engineering and project management.
        Our activity is based on scrum methodology, and we also developing software in agile way.
    </p>
    </div>

  <div id="t_bottom">
    <div id="team-title">Team</div>
    <div id="team-members"></div>
    <div id="contact">Contact us</div>
  </div>
</div>