<div class="col-md-8">
  <form id="ast_code_execute" method="POST">
    <div id="input_code"></div>
    <%= render 'layouts/partials/submit_button' %>
    <%= render 'layouts/partials/empty_button' %>
    <div id="trash-can">Delete<%= image_tag "trash_can_open.png"%>></div>
  </form>
  <%= render 'layouts/partials/output_code' %>
</div>
<div class="col-md-4">
  <div id="abstract_syntax_lists"></div>
</div>
