<div class="row">
  <div class="col-md-8">
    <div class="row">
      <input type="text" id="input_code"/>
    </div>
    <div class="row">
      <input type="submit"/>
    </div>
  </div>
  <div class="col-md-4">
    <p id="abstract_syntax_lists"></p>
  </div>
</div>
<div class="row">
  <input type="text" id="output_code"/>
</div>
