<div class="row">
  <div class="col-md-8">
    <div class="row">
      <!--<textarea id="input_code" cols="80" rows="25" placeholder="コードを入力してください"></textarea>-->
      <div id="input_code"></div>
    </div>
    <div class="row">
      <input type="submit"/>
    </div>
    <div class="row">
      <textarea id="output_code" cols="80" rows="5" placeholder="出力結果" readonly disabled></textarea>
    </div>
  </div>
  <div class="col-md-4">
    <div id="abstract_syntax_lists"></div>
  </div>
</div>
