// Place all the styles related to the code controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#navbar_tail {
  display: none;
  .breadcrumb i{
    padding: 0px 5px 0px 0px;
  }
}

#courses_contents {
  padding: 0px 100px 10px 100px;
  //text-align: center;
  #course_list {
    display: none;

    div {
      width: 100px;
      height: 130px;
      background-color: white;
      display: inline-block;
      margin: 10px;
      padding-top: 20px;
      text-align: center;
    }

    div:hover{
      color: white;
      background-color: #2ABB9B;

    }
  }

  .course-title:hover {
    background-color: #2ABB9B;
    color: white;
  }

  #lesson_list {
    display: none;
<<<<<<< HEAD
    div {
      background-color: #009900;
    }
    div:hover {

=======
    //text-align: center;
    padding-left: 90px;
    div {
      display: inline-table;
      background-color: #ffffff;
      color: #34495E;
      width: 350px;
      height: 40px;
      text-align: center;
      padding-top: 10px;
      margin-right: 90px;
      margin-bottom: 15px;
      //margin-left: 80px;
    }
    div:hover {
      background-color: #2ABB9B;
      color: #ffffff;
>>>>>>> f58e75bd1eaa44e16459ed4cbfacb114c0abedb6
    }
  }

  #lesson_detail {
    display: none;
    #title {
      padding: 0px 10px 10px 20px;
      text-align: center;
    }
    #line {
      border-bottom: 5px solid #D2D7D3;
    }
    #body {
      padding: 20px 20px 0px 20px;
      font-size: 17px;
    }
  }
}


.table-hover tbody tr:hover td {
  background-color: #E4F1FE;;
}

#output_code table{
  thead {
    th:first-child {
      width: 50px;
      border-right: solid 1px rgb(221, 221, 221);
      background-color: whitesmoke;
    }
    th {
      padding-left: 30px;
    }
  }

  tbody {
    th {
      color: grey;
      font-weight: normal;
      text-align: right;
      width: 50px;
      border-right: solid 1px rgb(221, 221, 221);
      background-color: whitesmoke;
    }
    td {
      padding-left: 30px;
    }

    //tr:hover {
    //  background: #E4F1FE;
    //  -o-transition: all 0.1s ease-in-out;
    //  -webkit-transition: all 0.1s ease-in-out;
    //  -moz-transition: all 0.1s ease-in-out;
    //  -ms-transition: all 0.1s ease-in-out;
    //  transition: all 0.1s ease-in-out;
    //}
  }
}

.navbar-brand img {
  max-height: 50px;
  margin-top: -15px;
}

#abstract_syntax_lists {
  height: 400px;
  width: 228px;
  border: 1px solid #aaaaaa;
  padding-left: 5px;
  padding-top: 5px;
  background-color: #F7F7F7;

  #syntax {
    display: inline-block;
    border: none;
    border-radius: 10px;
    height: 50px;
    width: 50px;
    padding: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    text-align: center;
    font-weight: bold;
    cursor: move;
    color: white;
    font-size: 2em;
    background: lightblue;
    //box-shadow: 2px 2px 2px #888888;;
  }
}

  #input_code {
    border: 1px solid #aaaaaa;
    min-height: 400px;
    min-width: 40px;
    margin-bottom: 5px;

    div {
      padding: 0.5em;
      text-align: center;
      font-size: 18px;
      border-width: 2px;
      border-color: #aaaaaa;
      cursor: move;
    }

    #child-line {
      padding: 0.2em;
      background-color: lightpink;
      color: white;
      display: inline-block;
    }

    background: image_url("ootalk_background.png") no-repeat 10px 30px;
 }

  #output_area {
    margin: 12px;
  }

  pre#output_code {
    padding: 10px;
    margin-top: 10px;
    white-space: normal;
    background-color: #F7F7F7;
    font-size: 15px;
    height: 200px;

    .string {
      color: #a11;
    }
    .number {
      color: #164;
    }
    .boolean {
      color: #219;
    }
    .null {
      color: #219;
    }
    .key {
      color: #a11;
    }
  }

 #trash-can {
   width: 30px;
   height: 400px;
   background-color: darkseagreen;
   padding: 60px 10px;
   color: white;
   font-size: 14px;
   text-align: center;
   font-weight: bold;
   letter-spacing: 10px;
   //vertical-align: middle
   top: 0;
   right: 0;
   word-wrap: break-word;
   text-transform: uppercase;
   border: 1px solid transparent;
   border-radius: 4px;
   position: absolute;

   #trash-c {
     display:none;
     margin-top: 40px;
     max-height: 200px;
   }
   #trash-o {
     display:inline;
     margin-top: 40px;
     max-height: 200px;
   }
 }

::-webkit-input-placeholder {
  color: white;
}

.CodeMirror {
  border: 1px solid #aaaaaa;
  height: 400px;
  background: image_url("ootalk_background.png") no-repeat 10px 30px;
}

.form-group {
  margin-bottom: 5px;
}

.form-group {
  margin-bottom: 5px;
}

