// Place all the styles related to the code controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#abstract_syntax_lists {
  height: 400px;
  width: 210px;
  overflow-y: scroll;
  border: 2px solid #aaaaaa;

  div {
    height: 50px;
    width: 200px;
    padding: 0.5em;
    text-align: center;
    font-size: 18px;
  }
}

  #input_code {
    border: 2px solid #aaaaaa;
    min-height: 400px;
    min-width: 40px;

    div {
      padding: 0.5em;
      text-align: center;
      font-size: 18px;
      border-width: 2px;
      border-color: gainsboro;
    }
  }

  #output_area {
    margin: 12px;
  }

  pre#output_code {
    padding: 5px;
    margin-top: 5px;
    height: 100px;

    .string {
      color: #a11;
    }
    .number {
      color: #164;
    }
    .boolean {
      color: #219;
    }
    .null {
      color: #219;
    }
    .key {
      color: #a11;
    }
  }

 #trash-bin {
   width: 30px;
   height: 400px;
   background-color: lightpink;
   padding: 40px 10px;
   color: white;
   font-size: 14px;
   text-align: center;
   font-weight: bold;
   letter-spacing: 10px;
   //vertical-align: middle
   top: 0;
   right: 0;
   word-wrap: break-word;
   text-transform: uppercase;
   border: 1px solid transparent;
   border-radius: 4px;
   position: absolute;
  }


