// Place all the styles related to the staticsite controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#t_top {
  background: url(try.jpg) no-repeat left top;
  background-size: 100% auto;
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  left: 0px;
  top: 50px;
  text-align: center;
}
a {
  Color: #ffffff;
}
h3{
  margin-top: 40%;
  padding-bottom:30px;
  Color: #ffffff;
}
h5{
  Color: #ffffff;
  padding-bottom:60px;
}
h4{
  Color:#ff6666;
}

#demo{
  text-align:center;
  background-color:#ffffff;
  margin-top:3%;
  margin-bottom:10%;
  padding-bottom:5px;
  padding-top: 5px;
}
h2{
  Color: #ffffff;
  text-align: center;
  padding-top:30px;
  padding-bottom:60px;
}
.container{
  background-size: 100% auto;
  min-width: 100%;
  text-align: center;
  background-Color:#ff6666;
}
#t_middle {
  margin:65% 0 100px 0;
}
#photo{
  margin: 0 auto;
  display: inline-block;
  padding-bottom: 40px;
}
  div.img {
    margin: 2px;
    border-radius: 60px;
    float: left;
  }
div.img img {
  width: 120px;
  height: 120px;
  border-radius: 60px;
  display: inline;
  margin: 3px;
  border: 1px solid #333333;
}
  div.img a:hover img {
    border: 1px solid #ff6666;
  }
  div.desc {
    Color: #ffffff;
    text-align: center;
    font-weight: normal;
    width: 120px;
    margin: 2px;
  }

#contact_icon {
  div.img {
    margin: 1px;
    border-radius: 20px;
    float: right;
  }
  div.img img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin: 3px;
    border: 1px solid #ffffff;
  }
  div.img a:hover img {
    border: 1px solid #ff6666;
  }
}
#t_bo{
  margin: 0 auto;
  Color:#ffffff;
  border:#ffffff 1px solid;
  width:128px;
  height:60px;
  line-height:64px;
  font-size:16px;
  border-radius: 28px;
  background-color:#ff6666;
  clear:both;
}
#t_bo:hover {
  background-color: #f9f9f9;
  cursor: pointer;
}
hr{color: white}
p.navbar-text{
  Color:#ffffff;}

footer{
  width: 100%;
  background-color: #303030;
  display: inline-block;
}
