<div id="navbar_tail">
  <ul class="breadcrumb">
    <li id="courses">Courses</li>
    <li id="lessons">Lessons</li>
  </ul>
  <div class="modal-dialog modal-lg">
    <div id="course_list">
      <div>Tutorial</div>
    </div>
    <div id="lesson_list">
      <div>数字を表示してみよう</div>
      <div>足し算をしてみよう</div>
      <div>掛け算をしてみよう</div>
      <div>入れ子にしてみよう</div>
    </div>
  <!--<ul>-->
    <!--<li>Tutorial-->
      <!--<ol>-->
        <!--<li><a href="#" data-toggle="modal" data-target="#myModal">数字を表示してみよう</a></li>-->
        <!--<li><a href="#">足し算をしてみよう</a></li>-->
        <!--<li><a href="#">掛け算をしてみよう</a></li>-->
        <!--<li><a href="#">入れ子にしてみよう</a></li>-->
      <!--</ol>-->
    <!--</li>-->
  <!--</ul>-->
 </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">数字を表示してみよう</h4>
      </div>
      <div class="modal-body">
        はじめに(´・ω・`)
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaa
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>