<!--<pre id="output_code">-->
  <!--result area-->
    <!--<table><thead><tr><th></th><th>実行文</th><th>実行結果</th></tr></thead><tbody><tr><th>1</th><td>3</td><td>3</td></tr><tr><th>2</th><td>4</td><td>4</td></tr><tr><th>3</th><td>(3+4)</td><td>7</td></tr></tbody></table>-->

<!--</pre>-->

<div id="output_code">
  result area
  <table><thead><tr><th></th><th>実行文</th><th>実行結果</th></tr></thead><tbody><tr><th>1</th><td>3</td><td>3</td></tr><tr><th>2</th><td>4</td><td>4</td></tr><tr><th>3</th><td>(3+4)</td><td>7</td></tr></tbody></table>

</div>
