<div id="sidebar">
  <ul>
    <li>Tutorial
      <ol>
        <li>数字を表示してみよう</li>
        <li>足し算をしてみよう</li>
        <li>掛け算をしてみよう</li>
        <li>入れ子にしてみよう</li>
      </ol>
    </li>
  </ul>
</div>
