<footer>
  <div id="footer_top">
    <div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="https://github.com/SBR2015">About</a></li>
        <li class="active"><a href="https://github.com/SBR2015">FAQ</a></li>
        <li class="active"><a href="https://github.com/SBR2015">CONTACT US</a></li>
      </ul>
    </div>
    <div id="contact_icon">
      <div class="img">
        <a href="https://github.com/SBR2015"><%= image_tag "mail.png" %></a>
      </div>
      <div class="img">
        <a href="https://github.com/SBR2015"><%= image_tag "facebook.png" %></a>
      </div>
      <div class="img">
        <a href="https://github.com/SBR2015"><%= image_tag "twitter.png" %></a>
      </div>
    </div>
  </div>
  <div><br><br><hr/></div>
  <div id="footer_bottom">
    <ul class="nav navbar-nav navbar-right">
      <li class="active"><a href="https://github.com/SBR2015">Privacy Policy</a></li>
      <p class="navbar-text">|</p>
      <li class="active"><a href="https://github.com/SBR2015">Terms and Conditions</a></li>
      <p class="navbar-text">|</p>
      <li class="active"><a href="https://github.com/SBR2015">@Chubachi Pt 2015</a></li>
    </ul>
  </div>
</footer>