<footer class="navbar navbar-inverse">
  <div id="contact-link">
    <ul>
      <li><a href="http://aiit.ac.jp">About</a></li>
      <li><a href="https://github.com/SBR2015">FAQ</a></li>
      <li><a href="http://aiit.ac.jp/master_program/isa/professor/y_chubachi.html">Contact us</a></li>
    </ul>
  </div>

  <div id="contact-icon">
    <i class="fa fa-envelope-square fa-3x"></i>
    <i class="fa fa-twitter-square fa-3x"></i>
    <i class="fa fa-facebook-square fa-3x"></i>
  </div>

  <div id="privacy">
    <ul>
      <li><a href="http://aiit.ac.jp">Privacy Policy</a></li>
      <li>|</li>
      <li><a href="https://github.com/SBR2015">Terms and Conditions</a></li>
      <li>|</li>
      <li><a href="mailto:yc[at]aiit.ac.jp">@Chubachi Pt 2015</a></li>
    </ul>
  </div>

</footer>